/* `Drop-Down Navigation
----------------------------------------------------------------------------------------------------*/

.dropdown {
	background: #fff;
	border: 1px solid #999;
	float: left;
	padding: 1px 0 0 1px;
	margin: 0 0 20px;
}

.dropdown a {
	background: #ccc url(../_common/gradient.gif) repeat-x;
	border: 1px solid #fff;
	border-top-width: 0;
	color: #333;
	display: block;
	line-height: 25px;
	overflow: hidden;
	text-decoration: none;
	height: 25px;
}

.dropdown a:hover {
	color: #fff;
	background: #666;
}

.dropdown ul a {
	background: #eee;
}

.dropdown li {
	list-style: none;
	position: relative;
	text-align: center;
	width: 120px;
}

.dropdown li.dropdown_trigger {
	display: inline;
	float: left;
	margin: 0 0 0 -1px;
}

.dropdown ul {
	background: #fff;
	border: 1px solid #999;
	border-top-width: 0;
	position: absolute;
	top: 26px;
	left: -1px;
	z-index: 9999;
}

.dropdown ul {
	display: none;
}

.dropdown li.dropdown_trigger:hover ul {
	display: block;
}

/* `Rounded Corners
----------------------------------------------------------------------------------------------------*/

.dropdown li.dropdown_trigger ul,
.dropdown li.dropdown_trigger ul li:last-child a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}