/* `Tabbed Links
----------------------------------------------------------------------------------------------------*/

.tabs {
	overflow: hidden;
}

.tabs li,
.tabs a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.tabs li {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-width: 0;
	display: inline;
	float: left;
	list-style: none;
	margin: 0 5px 0 0;
	padding: 1px 1px 0;
	text-align: center;
	width: 120px;
}

.tabs a {
	border: 1px solid #eee;
	border-bottom-width: 0;
	color: #999;
	display: block;
	padding: 5px 0;
	text-decoration: none;
}

.tabs a.current {
	background: #ccc url(../_common/gradient.gif) repeat-x;
	color: #000;
}

.tabs a:hover {
	background: #666;
	border-color: #666;
	color: #fff;
}

/* For IE6. */
* html .tabs a {
	height: 1%;
}

/* `Content Area
----------------------------------------------------------------------------------------------------*/

.tab_content_wrap {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #999;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	margin: 0 0 20px;
	padding: 20px 20px 5px;
	width: 598px;
}