/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background: #fff;
	color: #333;
	font: 12px Arial, sans-serif;
}

/* Base padding. */
#container {
	padding: 20px;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 24px;
}

p {
	clear: both;
	margin: 0 0 20px;
}

img {
	border: 0;
	font-size: 0;
}